/* Кнопка выпадающего списка */
.changingLanguage {
    width: 70px;
    padding: 8px 0;
    border: none;
    font-size: 1.3em;

    color: white;
    background-color: #4CAF50;
    outline:none;
}
.changingLanguage option{
    color: black;
    background-color: white;
}