$border-radius: 8px;

.mangaBlock {
  display: flex;
  flex-direction: column-reverse;

  background: lightgray;
  text-decoration: none;
  border-radius: $border-radius;

  .coverBlock {
    flex: 1;
    border-radius: $border-radius $border-radius 0 0;
    background-size: cover;
  }

  .titleBlock {
    padding: 0 5px;
    margin: 5px 0;
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;


    .title {
      width: 100%;
      text-align: center;
      //font-size: 1.5em;
      white-space: pre-wrap;
      color: black;
    }
  }
}