$desktop-width: 1600px;

.MangaArea {
  display: grid;

  grid-template: ". leftButton pages rightButton ." auto "mangaArea mangaArea mangaArea mangaArea mangaArea" auto;

  @media (min-width: $desktop-width) {
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template: "leftButton mangaArea rightButton" auto ". pages ." auto;
    gap: 0 20px;
  }


  .leftButton {
    grid-area: leftButton;
  }

  .rightButton {
    grid-area: rightButton;
  }

  .paginationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
    margin: auto;
    @media (min-width: $desktop-width) {
      height: 200px;
      width: 120px;
    }
    @media (orientation: portrait) {
      height: 60px;
      width: 60px;
    }
  }

  .mangaArea {
    grid-area: mangaArea;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 350px;

    grid-gap: 5px;

    font-size: 0.7rem;
    @media  (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 70vw;
    }
    @media  (min-width: $desktop-width) {

      max-width: 100vw;
      grid-template-columns: repeat(5, 250px);
      grid-auto-rows: 350px;
      grid-gap: 20px;
    }


  }

  .pageNumber {
    grid-area: pages;
    font-size: 1.8em;
    width: max-content;
    height: min-content;
    padding: 0 15px;
    margin: auto;
  }

}

