.chapterPage {
  background: #eeeeee;
  .pageArea {
    margin: auto;

    max-width: 920px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  > .menu {
    position: fixed;

    .menuButton {
      background: none;
      z-index: 100;

      border: none;
    }

    .extendedMenu {

      display: flex;
      flex-direction: column;
      height: max-content;
      max-height: 80%;
      .language{
        color: white;
        font-size: 1.4em;
        background-color: #4CAF50;
        width: min-content;
        padding: 8px 16px;
        line-height: 100%;
        margin-left: auto;

      }
      > * {
        border: solid black;
        border-width: 2px 0;
        box-sizing: border-box;
        margin: -2px 0 0 0;

      }

      .mangaPageLink {

        text-decoration: none;
        color: black;
        font-size: 2em;
        padding: 0 9px;
        background: white;
      }

      .mangaPageLink:hover {
        background: #ddd;
      }

      .chapterArea {

        flex: 1;

        display: flex;
        flex-direction: column;
        overflow: auto;

        .chapterLink {
          font-size: 1.5em;
          text-decoration: none;
          color: black;
          background: white;
          padding: 0 9px;
        }

        .chapterLink:hover {
          background: #ddd;
        }


        .active {
          background: steelblue;
        }

      }
    }
  }

  .activeMenu {
    height: 100vh;
    width: 300px;
    background: antiquewhite;

    .menuButton {
      transform: scale(-1, 1);
    }

  }
}

//@media (orientation: portrait) {
//  .pageArea {
//    padding-top: 50px;
//  }
//}