.chapterPage {
  background: #eeeeee;

  .pageArea {
    margin: auto;

    max-width: 920px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  > .menu {
    position: fixed;

    .menuButton {
      background: none;
      z-index: 100;

      border: none;
    }

    .extendedMenu {

      display: flex;
      flex-direction: column;
      height: max-content;
      max-height: 80%;

      .changingLanguageBlockContainer {
        height: 0;
      }

      .changingLanguageBlock {
        transform: translate(0, -100%);
        float: right;
      }

      > * {

        box-sizing: border-box;


      }

      .mangaPageLink {
        border: black solid;
        border-width: 2px 0 2px 0;
        text-decoration: none;
        color: black;
        font-size: 2em;
        padding: 0 9px;
        background: white;
      }

      .mangaPageLink:hover {
        background: #ddd;
      }

      .chapterArea {
        grid-template-columns: 1fr;
        padding: 0;
        >.chapterContainer{
          width: auto;
        }
      }


    }
  }

  .activeMenu {
    height: 100vh;
    width: 300px;
    background: antiquewhite;

    .menuButton {
      transform: scale(-1, 1);
    }

  }
}

//@media (orientation: portrait) {
//  .pageArea {
//    padding-top: 50px;
//  }
//}