$border-radius: 8px;
.MangaPageWrapper {
  margin: 10vmin auto 0 auto;
  width:100%;
  max-width: 1280px;
  border-radius: $border-radius;
*{
  margin: 0;
}
  .top {
    border-radius: $border-radius $border-radius 0 0;
    display: block;
    background: white;
    height: 400px;
    width: 100%;
    overflow: auto;;
    img {
      border-radius: $border-radius 0 0 0;
      width: 300px;
      height: 100%;
      float: left;
      margin-right: 10px;
    }

    .title {
      font-size: 1.5em;
    }

    .description {
      box-sizing: content-box;
      white-space: pre-wrap;
      text-wrap: avoid;
      width: 100%;
      height: 100%;
      font-size: 1.3em;
      padding: 10px;
    }


  }

  .chapterArea {
    border-radius: 0 0 $border-radius $border-radius;
    padding: 16px 16px;
    width: 100%;
    min-height: 316px;
    background: #e9e9e9;

    //display: grid;
    //grid-auto-flow: column;
    //grid-template-rows: repeat(10, minmax(max-content, 1fr));
    //grid-auto-columns: max-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, minmax(max-content, 1fr));
    grid-template-rows: max-content;

    grid-gap: 0 16px;



    box-sizing: border-box;

      .chapterButton {
        background-color: white;
        color: black;
        padding: 4px 16px;
        border: none;
        outline: 2px white solid;
      }

      /* Контейнер <div> - необходим для размещения выпадающего содержимого */
      .chapterContainer {
        position: relative;
        display: inline-block;
        font-size: 1.4em;
        width: max-content;
      }

      /* Выпадающее содержимое (скрыто по умолчанию) */
      .dropdown-content {

        position:absolute;
        font-size: 0.85em;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        //position: absolute;
        background-color: white;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
      }

      /* Ссылки внутри выпадающего списка */
      .dropdown-content * {
        font-size: 1em;
        color: black;
        padding: 4px 16px;
        text-decoration: none;
        display: block;
      }

      /* Изменение цвета выпадающих ссылок при наведении курсора */
      .dropdown-content *:hover {background-color: #ddd;}

      /* Показать выпаdдающее меню при наведении курсора */
      .chapterContainer:hover  .dropdown-content {display: grid;}

      /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
      .chapterContainer:hover .chapterButton {background-color: #ddd;}
    }

    .chapterLink:hover {
      opacity: 0.7;
    }


  @media (orientation: portrait) {
    width: 100vw;
    font-size: 0.7rem;
    margin-top: 0;
    padding: 5px;
    .top {
      height: max-content;
      display: block;

      img {
        float: left;
        width: 40vw;
        height: 60vw;
        margin-right: 5px;
      }

      .title {
        font-size: 2em;
      }
    }
    .chapterArea {

      height: max-content;

      background: gainsboro;

      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(2, minmax(max-content, 1fr));
      grid-template-rows: max-content;

      padding: 8px 8px;
      grid-gap: 0 8px;
      overflow: auto;
      box-sizing: border-box;
      .chapterLink {

      }
    }

  }
  @media (orientation: landscape) and (max-width: 900px){
    font-size: 0.7rem;
    margin:0;
    padding: 5px;

    .top {
      height: 250px;
      img {
        width: 200px;
        height:100%;
        float: left;
        margin-right: 10px;
      }
    }
  }

}
